[2020-04-09 07:41] harish-seetamraju opened #1 "Actuals missing for all stores for 3 days"
Actuals data (sales, trans and items qty) is missing for all stores for 8th, 9th and 10th march in the delta   table. Need to be raised with KFC and Cognizant

[2020-04-09 07:47] harish-seetamraju opened #2 "Actuals data in Aurora is double counted"
The double counting is happening from march 11th, noticed on sales and transactions. This needs to be updated to reflect correct values

[2020-04-09 08:03] harish-seetamraju opened #3 "consolidated view on dashboard for sales and transactions"
Weekly full history training happens every Sunday, considering actuals till last business date (Saturday)
While incremental daily training and scoring is planned for sales/trans, this is not planned to be shown on PBI. Will be addressed by filtering in materialized views
Dashboard gets refreshed every Monday, till the end of last business week (Saturday), except the most recent run (which wouldn’t

[2020-04-09 08:13] harish-seetamraju opened #4 "consolidated view on dashboard for item forecasts"
As the DS model scores for each store only when there is an order planned that day, a consolidated overview by model_run_date is difficult. Other approaches to explore.

Instead of showing consolidated view of all stores, can we create an other filter to select order cycle with 7 possible days of week and consolidate metrics for only those stores that belong to that order cycle, which will have co

[2020-04-09 08:19] harish-seetamraju opened #5 "scafs transaction forecasts by brand ID"
Scafs provides transaction forecasts by brand ID, which is incorrect. As Tiger provides a consolidated forecast by store, these can only be compared with store level scafs forecast.

Given the rolling up of scafs forecasts by store is also incorrect, the plan is to exclude multi-brand stores from comparison of transaction forecast between Tiger and Scafs. scafs forecast for multi-brand stores will

[2020-04-09 08:20] harish-seetamraju opened #6 "Historical remodelling data in DL pipeline"

[2020-04-09 08:20] harish-seetamraju opened #7 "Add weather data in DL pipeline"
Missing weather data (2/29/2020 – 3/15/2020) to be loaded and transferred to S3 for Tiger to consume.

Duplicate forecast coming from weather data that came in through the 2 year bulk load. Debbie researched the data and it appears the dups were introduced when the KFC Data team move the data from Staging into the Data Warehouse. Needs clarification

[2020-04-09 08:26] harish-seetamraju opened #8 "Changes in restaurant ownership in March 2020"
Some restaurants were converted from Fran to Corp. and some from Corp. to Fran in March. These changes would have implications how we read data for these restaurants each time (either in piepline or for adhoc analysis). For a particular physical restaurant, all chned_str_ids to should be consolidated to report data.

Changes are in the attached file for reference

[200403_KFCC Sites.xlsx](https://

[2020-04-09 08:30] harish-seetamraju opened #9 "Consumer behavior changes during Covid-19"
Based on the discussion we had with Patrick today, he is looking for a more detailed analysis into consumer behavior during the Covid-19 pandemic period. He is looking for these insights based on drill down into all KFC US stores / markets and not just Corporate locations. While we may want to start with corporate locations to set the framework, we will ultimately have to provide a holistic view b

[2020-04-09 08:35] harish-seetamraju commented on #7
Missing weather data  (2/29/2020 – 3/15/2020) to be loaded and transferred to S3 for Tiger to consume.

Duplicate forecast coming from weather data that came in through the 2 year bulk load.  Debbie researched the data and it appears the dups were introduced when the KFC Data team move the data from Staging into the Data Warehouse. Needs clarification

[2020-04-09 08:39] harish-seetamraju opened #10 "Trigger for data ingestion"
Create a trigger file” to be updated with the current timestamp once all the data has been transferred to S3 to allow the data ingestion process to begin.

[2020-04-09 08:56] harish-seetamraju opened #11 "Upload model_run_date to Aurora by taking last_model_date + 1"
Upload model_run_date to Aurora by taking last_model_date + 1

[2020-04-09 08:56] harish-seetamraju commented on #11
Upload model_run_date to Aurora by taking last_model_date + 1

[2020-04-10 06:55] harish-seetamraju opened #12 "Views getting deleted in Aurora DB"

[2020-04-10 07:13] harish-seetamraju opened #13 "Scafs forecasts differ by day-wise folders"
SCAFS forecasts in AURORA DB for some restaurants are higher than expected, because there are some restaurants with multiple forecasts which are provided by CTS in different day-wise folders with the same last_model_date. So while grouping by last_model_date the values sum up . This issue was raised earlier when we were comparing our values with SCAFS. In order to tackle this situation I will also

[2020-04-10 07:16] harish-seetamraju opened #14 "Handling missing values in calculating accuracy metrics"
All discussion and decisions related to handling one or more missing values among actuals, tiger and scafs forecasts will be recorded here

[2020-04-10 07:22] harish-seetamraju opened #15 "Handling changes in chned str id"
Checklist of all the places where a chned str id needs to be updated, when the ownership changes.

Constants file.
Delta tables
Aurora DB

What checks are in place to identify this after daily ingestion? If identified, how is it handled in the pipeline to address all the old chned str ids for same store link back to the new one, and it is treated as one store.

[2020-04-10 07:23] harish-seetamraju opened #16 "Inv. orders and simulated business metric comparison on dashbaord"
@gauthammn to confirm, if this section is even required

[2020-04-10 07:35] harish-seetamraju commented on #7
Note from Debbie:

For now, I would take an average when multiple rows are encountered for the same store/day/hour.  There is an issue matching up data on lat/long to the historical date to the lat/long from the alignment due to precision.

We will research as time permits to attempt to eliminate duplicates.

The historical data was actuals.

[2020-04-10 07:47] harish-seetamraju opened #17 "Review materialized views and dashboard charts for scalability"

[2020-04-13 08:03] #3 closed, assigned to harish-seetamraju

[2020-04-13 08:07] harish-seetamraju commented on #5
@karthikvenkatak Can you discuss this with Kiran and update how we plan to handle this for reporting.

[2020-04-13 09:41] harish-seetamraju commented on #8
@vinayTA Can you update if this is taken care of everywhere in the pipeline and reporting?

[2020-04-13 09:45] harish-seetamraju commented on #14
@SwethaSridhar3396 @karthikvenkatak Pls update your numbers here, for each of the model run dates that we have.

[2020-04-13 09:46] harish-seetamraju commented on #13
@karthikvenkatak Outline the final approach agreed here

[2020-04-13 09:47] harish-seetamraju commented on #10
@vinayTA Can you track this and close, once fixed.

[2020-04-14 06:37] harish-seetamraju commented on #2
@karthikvenkatak Can you follow up and update the status today

[2020-04-14 06:40] harish-seetamraju commented on #4
@SwethaSridhar3396
Gautham and I discussed an other option here as below.

Let the same 6 sundays show up for item forecasts also. The dashboard should go and pick the model run for each store based on the latest run date available before the selected sunday and accordingly calculate the accuracy metrics.

@karthikvenkatak Do you foresee any issue with this approach?

[2020-04-14 06:45] harish-seetamraju commented on #4
Apart from this, Chenchen says, the item models will be run for all 4k stores everyday. The approach defined above will still be applicable if that happens and all stores would have a forecast on the sunday selected, which will be picked up. @vinayTA and Kiran what do you think?

![chechen](https://user-images.githubusercontent.com/56823402/79194038-73478200-7e49-11ea-9e7d-c4da20c06c2b.jpg)

[2020-04-14 06:55] harish-seetamraju commented on #12
@SwethaSridhar3396 Are you investigating this? If it's not worth spending time, you should close it.

[2020-04-14 06:58] harish-seetamraju commented on #14
@SwethaSridhar3396 @karthikvenkatak
This is the logic we'll use for exclusions. I went ahead and pulled the data for a few runs and updated the % contribution of each case, for item forecasts. The query is below. Feel free to double check the script.

select fct.chned_str_id , act.chned_str_id, fct.busidaydt,act.busidaydt, fct.prodcd, act.prodcd, fct.forecasted_value,act.actual_value
select sum(ab

[2020-04-14 06:58] harish-seetamraju commented on #14
![image](https://user-images.githubusercontent.com/56823402/79195167-6fb4fa80-7e4b-11ea-991a-eb17513eecc2.png)

![image](https://user-images.githubusercontent.com/56823402/79195181-73488180-7e4b-11ea-9834-46b9ca24e7bb.png)

[2020-04-14 07:02] kiranrokkams commented on #7
This input is sufficient for now. Let us revisit when the weather data ingestion starts.

[2020-04-14 08:25] kiranrokkams commented on #4
The rate determining step in DL pipeline is scoring data creation and forecasting. Frequency of item models will directly and almost linearly impact the above and by extension cost & duration.

During scaling discussions it was decided that items models will once per order for a given store. This is approximately 2 times per week per store. This was the fundamental assumption for all cost estimati

[2020-04-14 08:28] kiranrokkams commented on #5
We can't add trans across brands. Except that I don't have a POV. On everystore we have atleast two brands one for KFC & other for common. Are we going to ignore common brand?

[2020-04-14 08:30] kiranrokkams commented on #8
Changes here are dynamic. When a change of ownership happens all subsequent datapoint will be reported at new chain_store_id level. For March actuals, since execution happened recently it should have been accounted. Can someone in consulting query aurora DB for chainstore and max createdatetime in all tables and verify?

[2020-04-16 00:22] SwethaSridhar3396 commented on #12
@harish-seetamraju .. When I checked with Senganal and Vinay, Vinay had replied the following
- A cascade query was ran by someone on the database which caused the issue.

[2020-04-16 01:04] SwethaSridhar3396 commented on #12
@harish-seetamraju  a suggestion to prevent this from happening in future could be,
- To update everyone in the our team when a DDL (Delete/Truncate) query is performed on any database object (Tables, Views, Materialized Views)
or
- once all the views are finalized, we can save them in the database and have a single person maintaining it (w.r.t updates and deletes)

[2020-04-16 03:33] harish-seetamraju commented on #9
Being addressed in the dashboard

[2020-04-16 03:34] #9 closed, assigned to karthikvenkatak

[2020-04-16 03:34] harish-seetamraju commented on #6
Due to limitations associated with this data source, we have decided to not consider this as an input in our models. We will only be using it to support investigation of A vs. F variances.

[2020-04-16 03:34] #6 closed, assigned to harish-seetamraju, gauthammn

[2020-04-16 03:41] harish-seetamraju commented on #12
Has this been communicated. I didn't see anything after Senganal replied. Can you pls mark me on the communication and lay down these guidelines for everyone

[2020-04-16 03:44] harish-seetamraju commented on #8
@karthikvenkatak Can you validate this ad close?

[2020-04-16 04:03] SwethaSridhar3396 commented on #12
@harish-seetamraju  Vinay pinged me on hangouts about the cascade query.
- The above suggestions are from my end to prevent this from happening in future
- Please let me know if these suggestions are valid
- If they are valid, then I will communicate the same to Vinay and Senganal

[2020-04-16 05:46] karthikvenkatak commented on #14
@harish-seetamraju  @vinayTA , For cases where Actuals and TIger are present and SCAFS is absent: This is happening for stores that underwent realignment. We are handling this by taking the stores at rest id level and them joining it with chain store id. But scars data is not updated with the latest chain store id. FOr example, for model run on 1st march, we will not have scars data for all 37 sto

[2020-04-16 05:53] karthikvenkatak commented on #13
SCAFS data usually is loaded in a folder with a dd-mm-yyyy structure. For example, the model that was run on the 15th march will be updated in the folder named 20200316. Ideally, every folder should have only one model run date. The reason we were seeing duplicates was that SCAFS was loading data for the previous two model runs for a few stores. Currently, the folder date column is added in the au

[2020-04-16 06:53] #12 closed, assigned to SwethaSridhar3396

[2020-04-20 09:02] SwethaSridhar3396 opened #18 "Data Issues in Kfc_demandforecasting Schema"
PFB some of the data issues in kfc_demandforecasting schema
1.  In kfc_demandforecasting.stg_fct_items_daily_forecast table, the last_date_model column contains the following dates
![image](https://user-images.githubusercontent.com/63358704/79733363-9921ca80-8312-11ea-9b94-8e15470f210e.png)
However, earlier it was 15-Feb-2020, 22-Feb-2020,29-Feb-2020 and 7-march-2020.
2. In kfc_demandforecasting.s

[2020-04-21 00:54] SwethaSridhar3396 commented on #18
3. For one store and one product, there are 56 forecast values, in which 28 values have type column as null (Image 1) and 28 values contain item_qty in type column (Image 2)

Image 1
![image](https://user-images.githubusercontent.com/63358704/79813097-51458680-8398-11ea-9c53-af92da706aa7.png)
Image 2
![image](https://user-images.githubusercontent.com/63358704/79813181-86ea6f80-8398-11ea-9252-57a75

[2020-04-21 05:35] karthikvenkatak commented on #8
I verified this. We have the stores with new chain store id in aurora db tables

[2020-04-21 05:37] karthikvenkatak commented on #2
This issue is resolved now. Marking this issue as closed

[2020-04-21 05:37] #2 closed, assigned to karthikvenkatak

[2020-04-21 05:46] karthikvenkatak commented on #13
@harish-seetamraju In my earlier comment, I planned on using the folder date column as model run date+1. However, I am seeing cases where folder date does not have previous day model runs.  Currently, I am using min folder date to avoid duplicate records (for example if two folders 20-4-2020 and 21-4-2020 have data for the model that was run on 19-4-2020, the query will pick the data present in 20

[2020-04-21 05:56] karthikvenkatak commented on #5
Transactions under Common brand are significantly lesser compared to KFC transactions. But we risk double-counting in case we include the common brand. @harish-seetamraju, my idea is that we should not aggregate the transactions (i.e have transactions only related to brand id 4 (KFC) for SCAFS). Please let me know if we can discuss and take a call on this?

[2020-04-21 06:08] karthikvenkatak commented on #1
We have received the data from CTS. I have asked Ezhil to update the data in aurora db tables. WIll close the issue once  the data is added in aurora db

[2020-04-21 06:44] #10 closed

[2020-04-21 13:09] harish-seetamraju commented on #5
@karthikvenkatak Get the % of transactions we'll lose, if we take only brand id 4 from SCAFS and compare that with total actuals and total Tiger forecasts.

[2020-04-21 13:12] harish-seetamraju commented on #13
@karthikvenkatak As long as, these values are duplicate, it doesn't matter which folder we use. Once you implement the logic, just ensure, we're not double counting.

[2020-04-21 13:14] harish-seetamraju commented on #14
@karthikvenkatak @SwethaSridhar3396 Pls get the same numbers I calculated at parent prod code level. So that we can take a decision on inclusion vs. exclusion on those numbers. For the current dashboard, pls include everything, which means the errors will be higher

[2020-04-21 13:15] harish-seetamraju commented on #16
@gauthammn confirmed this section is required, as there is live testing planned post covid

[2020-04-21 13:16] harish-seetamraju commented on #17
@SwethaSridhar3396 Aurora database is expected to have data for all 4k stores (actuals and forecasts for 6 weeks) by end of this month.

[2020-04-21 13:19] harish-seetamraju opened #19 "Detailed approach for Inv. orders and simulated business metrics"
@karthikvenkatak Can you come up with a detailed approach for building out this section, just like we did for sales/trans and item forecasts. There will be clarifications and requirements update as we get into the weed. Pls document everything here and in the requirements deck.

[2020-04-21 13:21] harish-seetamraju opened #20 "Approach for forecasting non-recipe period counted items"
@karthikvenkatak Can you update the final approach that we took on this in the pipeline, for alignment and future reference.

[2020-04-22 08:47] SwethaSridhar3396 commented on #18
@harish-seetamraju  I am adding today's database update by Ezhil on column datatypes here to keep track of all the changes in one place
![image](https://user-images.githubusercontent.com/63358704/79961000-b934c380-84a3-11ea-9f41-2236910371d4.png)

[2020-04-24 05:42] SwethaSridhar3396 commented on #17
@harish-seetamraju An update on this issue
When I checked with Vinay on this, I got the following information
- As of now the training happens for 4k stores but scoring for ~100 stores
- forecast for pilot stores only would be available

[2020-04-30 08:27] harish-seetamraju opened #21 "Local events data not available since Feb 2020"
@gauthammn Can you help with the local events files update from KFC

[2020-04-30 14:29] harish-seetamraju opened #22 "Data requirements to run all 4k stores on deep state daily"
Data Pipeline needs for 4K stores:
•	For sales, trans & items:
o	Store hours
o	Local events
•	For items:
o	Promotions KFC
o	Promotions TB
o	Product launches by stores
•	For orders:
o	Active Gins
o	Chicken Gins
o	Order dates: At least the next two planned order dates.

[2020-05-04 16:28] SwethaSridhar3396 opened #23 "Item forecast shows beverages"
Below are my observations on Item forecast showing beverages in front end @harish-seetamraju

first line of query and the output confirms that the prodcd is 91578
![image](https://user-images.githubusercontent.com/63358704/80988952-e1340780-8e51-11ea-934d-383eff6ba0b6.png)

Inner join between item forecast and dim_product shows we have forecasted values for the product 91578
![image](https://user-

[2020-05-05 14:19] gauthammn commented on #21
@harish-seetamraju - I felt it's better to ask Debbie directly during Jira calls. Will keep you posted.

[2020-05-05 14:25] gauthammn commented on #20
Just a quick note that we may have end of week counts available for non-recipe items atleast for live test stores. So we will need to tweak the approach depending on whether they are period / weekly counted. No major change in approach though. It's only about what latest ending count we use and how much duration of daily avg. we use

[2020-05-05 14:47] gauthammn commented on #21
Quick update - Debbie has reached out to Daniel's team. They are working on it.

[2020-05-06 05:20] harish-seetamraju commented on #20
@vinayTA Does this need any changes in the pipeline code for non-recipe items?

[2020-05-06 09:20] harish-seetamraju commented on #14
@vinayTA @gauthammn
For item forecasts, to avoid all corner cases, the store * day * prodcd combinations where either forecasts or actuals are missing are excluded from error calculation.

Similarly, for sales and transaction forecasts, rows where either tiger or scafs forecast is missing are excluded from error calculation.

Hope we all agree with this

[2020-05-06 09:24] harish-seetamraju opened #24 "Brandids to include in sales forecast"
Currently only 4 brands are included in sales forecast - 1,2,4 and 8. There is no forecast happening for brand id 0 or when it is null. There are no forecasts for brand id 0 and null for scafs also. Below is the distribution of sales by brand id in actuals.

![image](https://user-images.githubusercontent.com/56823402/81161590-6c73e100-8fa9-11ea-858a-806b7bd261c6.png)

@gauthammn Is this correct?

[2020-05-06 14:06] gauthammn commented on #24
The 4 brand ids should be good. Just make sure that we compare Actuals also for the same brand ids so that we don't end up seeing higher errors

[2020-05-08 02:30] kiranrokkams opened #25 "SCAFS vs DS comparison"
This is to document comparison of SCAFS vs DS and related gaps with SCAFS.

Consider the SCAFS data we receive on 5/8.
- They come typically around 12PM EST. This implies most probably these forecasts are generated on 5/8 and RGMs can act for 6 days starting from 5/8. We need to get this confirmed.
- This will have forecasts from 5/7.
- We save `last_date_model = date_part - 1day`. Typically we se

[2020-05-08 02:40] kiranrokkams opened #26 "SCAFS duplication issue"
@karthikvenkatak noticed duplicates in SCAFS. Since the duplicates origin from source we aren't sure if they be excluded. So two alternate duplicate methods were implemented and saved as temp tables.

Method 1 output:
- `kfc_demandforecasting.temp_stg_fct_sales_daily_scafs_dedup_01`
- `kfc_demandforecasting.temp_stg_fct_transactions_daily_scafs_dedup_01`
Method 2 output:
- `kfc_demandforecasting.t

[2020-05-08 13:37] karthikvenkatak commented on #26
Hi Kiran, I used the data in kfc_demandforecasting.temp_stg_fct_transactions_daily_scafs_dedup_02. I could not find the duplicates in the file. I think, we can use method 2 for removing duplicates.
Meanwhile i will check the other file and see if I am seeing any data issue there

[2020-05-08 14:11] kiranrokkams commented on #26
Thanks. Method 2 is robust. While method 1 is simple & fast. I would prefer method 1 if they both are same.

[2020-05-08 15:41] karthikvenkatak commented on #26
Both seem to be removing duplicates. Method 1 should be good as it is simple and fast. I am seeing the double-counting happening in 15 min table since it is derived based out of daily scafs forecast. Please advise if we can have 15 min tables updated as well?

[2020-05-08 16:07] kiranrokkams commented on #26
@harish-seetamraju : Please tag Shikhar.

- [Make method 1 default in db_push_actuals.SCAFS]
- [Truncate scafs staging tables]
- [Run the job in loop for both daily & weekly from 3/1 to yesterday]

[2020-05-09 02:24] kiranrokkams commented on #26
Below four tables are updated. @karthikvenkatak : Please verify and close this issue. Please drop the dedup tables at your convenience.
- stg_fct_sales_daily_scafs
- stg_fct_transactions_daily_scafs
- stg_fct_sales_15min_scafs
- stg_fct_transactions_15min_scafs

[2020-05-09 06:13] #1 closed

[2020-05-09 06:15] harish-seetamraju commented on #4
@kiranrokkams @vinayTA This is now decided to be run daily. So, we are filtering the days with full training, just like sales and transactions, without having to handle different days for different stores. We can close, if all of us are aligned.

@SwethaSridhar3396 FYI

[2020-05-09 06:17] harish-seetamraju commented on #5
@karthikvenkatak Can you update the final logic you're using and close this.

[2020-05-09 06:18] harish-seetamraju commented on #7
Rocky is working on setting up the data for us, by taking taking care of the external APIs and getting weather data by store mapping, which can be fed into the models.

The activity is prioritized, to accommodate model tuning

[2020-05-09 06:19] #8 closed

[2020-05-09 06:23] #15 closed

[2020-05-09 06:23] #16 closed, assigned to gauthammn

[2020-05-09 06:25] harish-seetamraju commented on #17
@SwethaSridhar3396 Let's plan the complete profiling of the dashboard for performance this week. We can do it on 114 stores that we have data for. 4k is not happening anytime soon.

[2020-05-09 06:26] harish-seetamraju commented on #18
@SwethaSridhar3396 Can this be closed now.

[2020-05-09 06:28] harish-seetamraju commented on #19
The agreed schema is updated in https://yumbrandsinc-my.sharepoint.com/:x:/r/personal/kxr8474_yum_com/_layouts/15/Doc.aspx?sourcedoc=%7BF2A20B11-3B21-4031-8341-3C59FAF092BB%7D&file=Schema%20details.xlsx&action=default&mobileredirect=true&cid=f4f828ad-ff55-4f46-b330-b5a97c3b87af

@ShikharT2205 to incorporate the code from Karthik into simulation pipeline

[2020-05-09 06:28] #19 closed, assigned to ShikharT2205, karthikvenkatak

[2020-05-09 06:31] harish-seetamraju commented on #23
@vinayTA @ShikharT2205 Any thoughts on why are beverages being forecasted?

[2020-05-09 06:32] harish-seetamraju commented on #24
@karthikvenkatak Pls incorporate in your view definitions and close this

[2020-05-09 06:35] kiranrokkams commented on #4
Aligned. @harish-seetamraju please close.

[2020-05-09 06:36] harish-seetamraju opened #27 "Store L235011 is not active, but being forecasted"
L235011 - is an active store according to the latest feed and we forecast all stores that are active & don't have a close date. But the last actuals for the store were recorded in Oct 2019. Either the store closed or is in remodelling.

[2020-05-09 06:37] harish-seetamraju opened #28 "Missing store * days in actuals - to be double checked with CTS"
store_id  busidaydt
0   D534001 2020-04-12
1   E156005 2020-02-23
2   E720389 2020-04-14
3   E720389 2020-04-15
4   E720389 2020-04-16
5   E720389 2020-04-17
6   E720389 2020-04-18
7   E720389 2020-04-19
8   E720389 2020-04-20
9   E720389 2020-04-21
10  E720389 2020-04-22
11  E720389 2020-04-23
12  E720389 2020-04-24
13  E720389 2020-04-25
14  G135801 2020-03-13
15  L470012 2020-04-12
16  W750270

[2020-05-09 06:39] #4 closed, assigned to kiranrokkams, SwethaSridhar3396

[2020-05-11 09:47] karthikvenkatak commented on #26
I have checked the tables and seems like duplicates are now removed. Closing the issue

[2020-05-11 09:47] #26 closed, assigned to ShikharT2205, karthikvenkatak

[2020-05-11 11:16] SwethaSridhar3396 opened #29 "dim_product table (same dscr for different product codes)"
In dim_product table, there are few items with the same description and different product code

An example is shown in the below image

Query used - "select distinct prodcd,dscr from kfc_demandforecasting.dim_product dp"
![image](https://user-images.githubusercontent.com/63358704/81555775-c78d4580-93a6-11ea-8ff8-aa70738ceb57.png)

[2020-05-11 11:17] SwethaSridhar3396 commented on #29
@harish-seetamraju  I am checking with Raj, Shikhar for this issue. I will update this thread once I get an info

[2020-05-11 11:19] karthikvenkatak commented on #5
I checked the scafs data received on may 1st and may 5th. I am not finding brand 0 in either of the files. In such a case, it is safe to say that brand 0 contributes very little to total transactions. As per current logic, we are aggregating the transactions across brands. This should not be an issue for single brand stores.
![image](https://user-images.githubusercontent.com/50568234/81553950-93fc

[2020-05-11 11:23] karthikvenkatak commented on #5
Harish, I think we can close the issue. Please let me know if we are aligned on the current process of aggregating scafs data by brand. Currently we are not showing transaction metrics for multi-brand stores. But, in the future, if we are planning to include this, then we should not aggregate the transactions by brand for scafs data

[2020-05-11 11:25] karthikvenkatak commented on #13
Current logic is taking care that we do not double count scafs data. Closing the issue.

[2020-05-11 11:25] #13 closed, assigned to karthikvenkatak

[2020-05-11 11:34] karthikvenkatak commented on #14
@harish-seetamraju @gauthammn
For 15 min sales and transaction tables, I am imputing actuals as 0 when we do not have data for certain time buckets. For example, if tiger forecasts $30 at 17:15 (time bucket) and the corresponding row for actuals (at 17:15) is missing, then I am imputing actuals as 0. Please confirm if the logic is correct.

[2020-05-11 11:37] SwethaSridhar3396 commented on #29
@harish-seetamraju  Update 1 : S3 parquet file has the same data. Hence we get this in aurora db too
![image](https://user-images.githubusercontent.com/63358704/81557475-ab3ed800-93a9-11ea-9d91-8af3548f8a05.png)

Update 2:
Vinay told that for a different product code .. it is treated as a different product if the dscr is same

[2020-05-11 12:03] karthikvenkatak commented on #28
@harish-seetamraju, we might need some report generated (run every day) to get this information on a regular basis. We can have this report in teams or some commonplace, where CTS team can also view it and update their comments on why data is missing for few stores on a given day

[2020-05-11 12:27] karthikvenkatak opened #30 "Add franchise owner in dim_store table"
Need to add franchise owner in the dim_store table.

[2020-05-11 12:34] EzhilkumarTiger commented on #30
This change has been done, please check and confirm.

[2020-05-11 21:20] gauthammn commented on #14
I think this logic is correct.

[2020-05-12 05:51] karthikvenkatak commented on #30
Able to see the changes.Closing the request

[2020-05-12 05:51] #30 closed, assigned to EzhilkumarTiger

[2020-05-12 08:59] harish-seetamraju commented on #5
For KFCC stores, we should aggregated all brands in scafs also and show only one value, which is what we have in actuals and Tiger DL forecasts

[2020-05-12 08:59] #5 closed, assigned to harish-seetamraju

[2020-05-12 09:02] harish-seetamraju commented on #29
@SwethaSridhar3396 For dashboard, just concatenate prod code and prod decr, so that we dont aggregate products based on dscr by mistake

[2020-05-12 09:24] #18 closed, assigned to SwethaSridhar3396

[2020-05-13 08:37] karthikvenkatak opened #31 "Order table in aurora database"
![image](https://user-images.githubusercontent.com/50568234/81790355-e87aa580-9522-11ea-8b86-3ef27ffd63b1.png)

[2020-05-13 08:43] karthikvenkatak opened #32 "Update tables corresponding to business metrics in aurora db"
![image](https://user-images.githubusercontent.com/50568234/81790938-b3228780-9523-11ea-9b4d-470b0cbc94fb.png)

[2020-05-13 10:57] ShikharT2205 commented on #32
Hi Karthik ,
Could you check the tables again . The schema is updated.

[2020-05-15 16:05] karthikvenkatak opened #33 "Updated version of files for order simulation"
Adding this issue for tracking. We need an updated version of below file from KFC:
1. Active gin mapping by store (to track newly added/removed inventories)
2. Inventory to GIN mapping file  (All our orders are dependent on this)
3.Store order cycle ( to take any change in order cycle due to corona)
4. RGM invoice for D-1 and D-2 orders
Attached the previous version of files for reference
[KFC Del

[2020-05-15 17:05] gauthammn commented on #33
Can we start with leveraging the files we had got at beginning of live test? In parallel, I will check if there has been any update to order schedule

[2020-05-15 20:28] gauthammn commented on #33
For order cycle, let's just keep adding 7 days to each order date we have assuming cycle remains the same. We can also check against most recent week records of inventory table to see if there are stores which have seem to have shifted their ordering cycle

[2020-05-25 11:31] karthikvenkatak opened #34 "Clarifications on ordering process"
1.**Sum of stores ordering on d, d-1 and d-2 will not be equal to 4k (total number of stores)**
For example, if we consider W750243, it orders on Monday and Thursday. For this store, we will not have d/d-1/d-2 order on friday. If business requests to have store orders every day, then we might need to create d-3 order as well (for above example) to cater to that request. Need confirmation if d-1 an

[2020-05-26 13:16] gauthammn commented on #34
Hi Karthik,

Summarized below are what we discussed on these 3 items.

1. If it's not significant effort to extend code to include d-3 then it would be better to do that since KFC is expecting to have an order recommendation available daily.

2. Taking ending count from inventory table at the beginning of each period is a good idea. We can do that.

3. Given that there are not a lot of stores wher

[2020-05-28 06:57] karthikvenkatak opened #35 "Active Gin mapping file"
Adding Active gin mapping file.
[5_28_ActiveGins_PilotRestaurants.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4693752/5_28_ActiveGins_PilotRestaurants.xlsx)

[2020-05-28 12:20] karthikvenkatak opened #36 "Request to create dim_noun_inv_mapping"
Request to add one more dimension table in aurora db. This will be required in the dashboard to track how the noun items associated with an inventory is performing.

105 | dim_noun_inv_mapping | prodcd | integer
105 | dim_noun_inv_mapping | inventoryid | integer
105 | dim_noun_inv_mapping | chned_str_id | string

Updated the same in KFC_dims sheet in kFC schema document.
Link: https://yumbrandsinc

[2020-05-29 09:33] karthikvenkatak opened #37 "Need additional column in stg_order_output_comparison table"
Need an additional column for stg_order_output_comparison table:
Actual order (purchase unit) = (derived theoretical usage (counting unit) - ohq (counting unit))/(measuring unit or UOM)

[2020-05-29 14:48] harish-seetamraju commented on #11
using last_model_date as is for reporting

[2020-05-29 14:48] #11 closed

[2020-05-29 14:52] harish-seetamraju commented on #17
[Performance_KFC_AvsF Dashboard.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4702488/Performance_KFC_AvsF.Dashboard.xlsx)

[2020-05-29 14:52] #17 closed, assigned to harish-seetamraju, SwethaSridhar3396

[2020-05-29 14:55] harish-seetamraju commented on #20
@karthikvenkatak Can you upload the final approach here for reference pls

[2020-05-29 14:56] harish-seetamraju commented on #21
@vinayTA Debbie created a weekly file to reach the pipeline. Closing this. But reopen if anything is missing.

[2020-05-29 14:56] #21 closed

[2020-05-29 14:58] #24 closed, assigned to karthikvenkatak, gauthammn

[2020-05-29 15:02] harish-seetamraju commented on #25
Mail shared for clarification, but no one knows the answers to these.

DL models forecast for next 28 days every day. For example, the model run on 5/8 will have 28 busidaydts from 5/8 to 6/4 and last_date_model as 5/7. The first week of results from 5/8 to 5/14 is compared to that of SCAFS.
We don’t have such a standardized construct for SCAFS data, so we’re following the below procedure. Conside

[2020-05-29 15:02] #25 closed, assigned to karthikvenkatak, harish-seetamraju

[2020-05-29 15:04] harish-seetamraju commented on #27
@gauthammn Can we close this or need to inform anyone?

[2020-05-29 15:05] #29 closed, assigned to harish-seetamraju, SwethaSridhar3396

[2020-05-29 15:06] #31 closed, assigned to ShikharT2205

[2020-05-29 15:06] harish-seetamraju commented on #32
@karthikvenkatak Can you close this

[2020-05-29 15:08] #33 closed, assigned to karthikvenkatak, harish-seetamraju, gauthammn

[2020-05-29 15:09] harish-seetamraju commented on #34
@vinayTA spoke to chenchen and d-3 is not required. to be confirmed with KFC.

#2 and #3 are complete.

[2020-05-29 15:09] harish-seetamraju commented on #35
@gauthammn Gin mapping missing for G135581

[2020-05-29 15:23] gauthammn commented on #27
Confirmed with Debbie that this store is permanently closed on May 1. We can remove this store from our test set

[2020-05-29 15:23] #27 closed, assigned to gauthammn

[2020-06-01 07:12] harish-seetamraju opened #38 "Inventory id exclusions for order generation"
@karthikvenkatak Share the list of all inventory ids that don't need orders, as per the confirmation from Nigel. If you have it, pls attach the communication from Nigel also.

[2020-06-01 07:19] harish-seetamraju opened #39 "multiple gins mapped with one inventory"
@karthikvenkatak Can you add examples for this and we can confirm with Gautham the approach we're taking to resolve the conflicts.

[2020-06-01 07:49] harish-seetamraju opened #40 "Store order dates required for June and July 2020"
@karthikvenkatak Compare this against existing order cycle. Resolve conflicts - If there is a new order date in a particular week, see what that date is replacing in existing cycle and share the version with Shikhar.

[2020-06-01 07:54] harish-seetamraju opened #41 "order module updates and corner cases"
@prashanththang @karthikvenkatak Can you both update all the changes you made to order module and any corner cases handled in the pipeline over the last 2 weeks here, for future reference.

[2020-06-01 07:55] harish-seetamraju opened #42 "simulation module updates and corner cases"
@karthikvenkatak @ShikharT2205 Can you update all the code updates for changes and any corner cases handled in the simulation module here, for future reference.

[2020-06-01 08:00] prashanththang commented on #41
Hi Harish,

The store period file has been changed based on corporate and franchise stores logic. This is the same logic which is used in simulation.

[2020-06-01 13:53] prashanththang commented on #37
Hi @karthikvenkatak @vinayTA @harish-seetamraju ,

The following are the changes on chicken ordering logic for order comparison table:

1) Chicken order buffer = 'required quantity for 29692  (in stg_order_output table)'/ 20
2) Chicken order JIT = ((29693 order (21 hd dark) *21)+(29692 (8 pc purple) *20))/20

Thanks,
Prashanth

[2020-06-02 05:49] harish-seetamraju commented on #40
We'll be following the existing store order cycle, no changes to it

[2020-06-02 05:53] kiranrokkams commented on #40
Is the store x order dates generated for june & july?

[2020-06-02 06:00] prashanththang commented on #37
@karthikvenkatak @vinayTA @harish-seetamraju ,

The changes are implemented. Please find the details regarding the order comparison table.

1) Derived theoritical is calculated from item level to inventory level roll up
2) RGM Invoices is captured for a order delivery date and for a delivery date which is delayed by one day (corner case)
3) Chicken GIN 29693 not is taken into consideration.
4) Sto

[2020-06-02 10:15] harish-seetamraju opened #43 "pipeline for order generation in excel"
@ShikharT2205 Given the issues with Mclane integration, we'll have to generate orders in an excel file. Can you add the code to pipeline to generate the excel files. (one file per store with 2 tabs).

@karthikvenkatak Pls upload the sample order file here for everyone's reference.

[2020-06-02 10:22] kiranrokkams commented on #43
@ShikharT2205 @karthikvenkatak : Don't we have this code from jan-feb test?

[2020-06-02 11:54] harish-seetamraju opened #44 "Chicken sandwich test"
[Copy of Product Codes - CknSandwichTest 05252020.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4716903/Copy.of.Product.Codes.-.CknSandwichTest.05252020.xlsx)
[Sandwich Test Store List started on 05252020.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4716906/Sandwich.Test.Store.List.started.on.05252020.xlsx)

@gauthammn 2 of the 5 live test stores are testing a new product ch

[2020-06-02 11:59] gauthammn commented on #44
Actually 3 out of 5 stores are testing it (W750265, Y300020 & Y309203). I think we should be good. We should already be seeing Actuals against it since test was launched last week. Pls confirm

[2020-06-02 12:16] harish-seetamraju commented on #44
@vinayTA Can you confirm this is part of the pipeline and you've everything to convert to inventory forecast and orders.

[2020-06-03 05:43] #32 closed, assigned to ShikharT2205

[2020-06-03 05:45] #36 closed, assigned to harish-seetamraju, EzhilkumarTiger

[2020-06-03 06:29] ShikharT2205 commented on #40
Hi @karthikvenkatak  ,

Could you please update the order_dates file with current chned_str_id . I will directly use that file as an input to my code.

[2020-06-03 06:30] karthikvenkatak commented on #43
Adding Excel file for reference
[3.16 Tiger Recommended Orders for W750243.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4721361/3.16.Tiger.Recommended.Orders.for.W750243.xlsx)

[2020-06-03 06:30] karthikvenkatak commented on #42
This is a WIP document. I WIll be updating this document with further changes
[Leveraging Demand Forecasts for Supply Order Recommendation.docx](https://github.com/harish-seetamraju/yum-kfc/files/4721356/Leveraging.Demand.Forecasts.for.Supply.Order.Recommendation.docx)

[2020-06-03 06:31] #37 closed, assigned to karthikvenkatak, harish-seetamraju

[2020-06-03 06:37] karthikvenkatak opened #45 "Inventory Exclusion list"
Adding inventory exclusion list for the live test stores
[Inventory exclusion list.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4721388/Inventory.exclusion.list.xlsx)

[2020-06-03 06:39] karthikvenkatak commented on #41
This is a WIP document for tracking the changes
[Leveraging Demand Forecasts for Supply Order Recommendation.docx](https://github.com/harish-seetamraju/yum-kfc/files/4721402/Leveraging.Demand.Forecasts.for.Supply.Order.Recommendation.docx)

[2020-06-03 07:48] #38 closed, assigned to nobody

[2020-06-03 08:36] karthikvenkatak commented on #40
Hi Shikhar, Please use this file for generating order cycle.
[KFC Deliveries_1732407695 (002).xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4721961/KFC.Deliveries_1732407695.002.xlsx)

[2020-06-03 11:22] #34 closed

[2020-06-03 11:22] harish-seetamraju commented on #28
Will be run as part of diagnostics. This is not very important for non- live test period. So, closing it.

[2020-06-03 11:22] #28 closed, assigned to karthikvenkatak, harish-seetamraju

[2020-06-03 11:23] karthikvenkatak commented on #44
Please find the latest BOM file attached. I have added a separate sheet on ckn sandwich test. We have inventory and gin available for all the chicken sandwich products
[BOM.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4723654/BOM.xlsx)
Below file contains the actuals and forecast for chicken sandwich products:
[Ckn sandwich forecast and actuals data.xlsx](https://github.com/harish-seet

[2020-06-03 11:24] ShikharT2205 commented on #40
Order_dates.parquet  is generated . Closing this issue .

[2020-06-03 11:24] #40 closed, assigned to ShikharT2205, gauthammn

[2020-06-03 11:26] ShikharT2205 commented on #43
@kiranrokkams  We have this code . Need to change some part of the code and make it according to the current pipeline .

[2020-06-03 11:28] harish-seetamraju opened #46 "Movement of period counted items to weekly counted"
Following items are expected to move to weekly count from 6/16 onwards. watch out for orders being generated from the following week.
![period to weekly](https://user-images.githubusercontent.com/56823402/83631626-6cbcc780-a5bb-11ea-919c-03fef7dbfe24.jpg)

[2020-06-03 11:34] kiranrokkams commented on #45
@prashanththang @ShikharT2205 : Is this configured in constants?

[2020-06-03 11:37] kiranrokkams commented on #23
@ShikharT2205 : did you look at this?

[2020-06-03 11:38] kiranrokkams commented on #7
@harish-seetamraju we can close this one. Rocky is taking care of weather.

[2020-06-03 11:49] prashanththang commented on #45
REMOVE_INV = [68,73,84]

The above is the list constants as per old order module @kiranrokkams . I have updated the list to [568,792,712,786,749,767] (inventories in the excel @karthikvenkatak shared).

[2020-06-03 11:56] ShikharT2205 commented on #23
@kiranrokkams  We take inventory_in_scope for this to control these inventories. We have doing the inner join on order_module . So need to check inventory_in_scope code.

[2020-06-03 14:55] karthikvenkatak commented on #39
Attached sheet has examples for multiple gins mapped to one inventory for 5 lest test stores.
[multiple gin mapping.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4724199/multiple.gin.mapping.xlsx)

[2020-06-03 15:15] harish-seetamraju commented on #44
closing this as we have everything in place for these products and forecasts are coming thru

[2020-06-03 15:15] #44 closed, assigned to gauthammn

[2020-06-03 16:21] gauthammn commented on #39
I have reached out to Nigel to provide recent RGM orders. That should help us map to right Gin.

[2020-06-03 16:44] gauthammn commented on #39
@karthikvenkatak - Can you leverage the same gins for store Y300020 which we had used during our earlier live test?

[2020-06-03 22:21] gauthammn commented on #39
@karthikvenkatak - I have looked through the PDFs and have added the Gins & my comments for items having more than 1 Gin. Take a look
[200603_Inventory to Gin Mapping.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4726498/200603_Inventory.to.Gin.Mapping.xlsx)

[2020-06-04 10:34] prashanththang opened #47 "Order table - Modifications"
@karthikvenkatak @vinayTA @harish-seetamraju
1) June order for W750265 - I will work on this.
2) D-1,D-2, - @ShikharT2205 please check on contingency order.
3) Non-recipe order will be generated in stg_order_output with current script and pushed to DB.
-- @vinayTA need clarity on this, should non recipe items be filtered out from order table before DB push or should shikhar remove non-recipe items

[2020-06-04 10:53] kiranrokkams commented on #47
@prashanththang
5. Add last_date_inventory.
@ShikharT2205 - once done you can use this instead of order_date - 1

[2020-06-04 11:16] prashanththang commented on #47
Kiran, @ShikharT2205 is suggesting to take max(last_date_inventory), shall i proceed with that ?

[2020-06-04 11:18] kiranrokkams commented on #47
Yes, at store level you can take max(last_date_inventory)

[2020-06-04 13:00] prashanththang commented on #47
Kiran, last_date_inventory column has been added to the order module, along with issue 4 mentioned above. @harish-seetamraju confirmed that non-recipe orders will not be removed in DB push.

Regarding issue 1 order generation did not happen on 31,1,2. This has been generated now @karthikvenkatak

@EzhilkumarTiger order module changes are done in my local, once schedule runs we can embed the change

[2020-06-05 04:56] harish-seetamraju opened #48 "Diagnostic script in the pipeline"

[2020-06-05 09:03] ShikharT2205 commented on #39
@karthikvenkatak  I am using this now. I have recreated the gin_mapping .  Closing this issue.

[2020-06-05 09:03] #39 closed, assigned to ShikharT2205, harish-seetamraju, gauthammn

[2020-06-09 04:11] #7 closed, assigned to gauthammn

[2020-06-09 04:12] harish-seetamraju commented on #23
Fixed and addressed from May onwards

[2020-06-09 04:12] #23 closed, assigned to ShikharT2205

[2020-06-09 04:12] #43 closed, assigned to ShikharT2205, karthikvenkatak

[2020-06-09 12:34] karthikvenkatak commented on #45
Updated inventory exclusion list. This would be an ongoing process. We can close it

[2020-06-09 12:48] karthikvenkatak opened #49 "DL forecast is zero for few stores X date combination"
Below stores have actuals greater than zero, but the forecasted value is zero.

[Zero Forecast.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4752184/Zero.Forecast.xlsx)

[2020-06-10 16:22] karthikvenkatak opened #50 "Stores for Sales and Transaction Model Tuning"
G135807: Sensitive to sales increase during weekends (increase in Friday and dip in Saturday)
![image](https://user-images.githubusercontent.com/50568234/84289706-723c8380-ab60-11ea-8f49-fe9edcc257f1.png)

Rise and fall in the actual sales are amplified in the forecast

1. W750243:
 ![image](https://user-images.githubusercontent.com/50568234/84290126-ed9e3500-ab60-11ea-9a7d-0403832417a2.png)

2. W

[2020-06-10 16:51] karthikvenkatak opened #51 "Store X Product Model Fine Tuning"
62695: 1 EC Strip
Below stores have MAD above 170:
J718032,G135801, C750108,G135802,G135813,G135804
C75108: Variations are not captured in the forecast:
![image](https://user-images.githubusercontent.com/50568234/84294201-79ff2680-ab66-11ea-8b07-a10084ed6cef.png)

J718032: Errors are consistently high. Need to ivestigate the store X item
![image](https://user-images.githubusercontent.com/50568234/

[2020-06-11 10:36] karthikvenkatak opened #52 "Mismatch in delivery date"
![image](https://user-images.githubusercontent.com/50568234/84375597-74a0eb00-abfd-11ea-8b67-c25980459429.png)
[inventory.xlsx](https://github.com/harish-seetamraju/yum-kfc/files/4764232/inventory.xlsx)

[2020-06-11 11:46] karthikvenkatak opened #53 "Difference is ordering logic used in Rocky's Query"
![image](https://user-images.githubusercontent.com/50568234/84381837-3a3c4b80-ac07-11ea-9def-e2e07d22c1ff.png)

[2020-06-11 16:05] gauthammn commented on #53
@karthikvenkatak - Can you tweak the query which Rocky shared to reflect the dates we are currently using?

[2020-06-12 04:09] harish-seetamraju commented on #49
@vinayTA @EzhilkumarTiger Did someone look into this. We should close today.

[2020-06-12 04:15] harish-seetamraju commented on #51
@karthikvenkatak can you report wmape also. MAD may be misleading for high volume items, 80 or 150 might be a decent MAD.